:root {
  --dark-bg: rgba(0, 0, 0, 0.2);
  --text-color: #f5f5f5;
  --spacing: 2rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  margin: 0 auto;
  padding: 7.5rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
p,
li,
blockquote {
  color: var(--text-color);
  font-family: sans-serif;
  font-weight: 700;
  font-style: normal;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background-color: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}
